// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import './font-awesome/css/font-awesome.css';

@import '~bootstrap/scss/bootstrap';
@import 'main';
@import 'item-card';

.test-mode {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 15px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #219ffe;
}
